:root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.error {
    text-decoration: underline wavy red;
}

.filter {
    position: absolute;
    background: rgba(255, 0, 0, 0.3);
    z-index: 3;
    pointer-events: none;
}
